.container {
  width: 900px;

}
.cart-item {
  padding: 15px 20px 0;
  border-radius: 3px;
  height: 4.5rem;
  font-size: 1.5rem;
  background: #fff;
  margin-bottom: 12px;
  display: flex;
  color: black
}

#item-header {
  font-size: 1.8rem;
}

.cart-item-header-name {
  text-align: left;
  width: 46%;
}
.cart-item-header-unitprice {
  width: 16%;
  text-align: center;
}
.cart-item-header-quantity {
  width: 16%;
  text-align: center;

}
.cart-item-header-subtotalprice {
  width: 11%;
  text-align: center;
}

.cart-item-header-action {
  width: 13%;
  text-align: center;
}


.cart-item-name {
  width: 46%;
}
.cart-item-unitprice {
  width: 16%;
  text-align: center;
}
.cart-item-qtyinput {
  width: 16%;
  text-align: center;
}

#quantity {
  position: center;


}
.cart-menu-item-subtotalprice {
  width: 11%;
  text-align: center;
  color: #ff5722;
}

.cart-item-action {
  width: 13%;
  text-align: center;
}

.cart-action-btn {
  font-size: 1.3rem;
  border-radius: 3px;
}

.cart-menu-footer {
  padding: 15px 20px 0;
  border-radius: 3px;
  height: 7rem;
  background: #fff;
  margin-bottom: 12px;

}

.item-basket-total {
  position: relative;
  text-align: right;
}

#total-purchase-text {
  font-size: 2rem;
  font-weight: lighter;
}
#total-purchase-amt {
  font-size: 2.2rem;
  font-weight: bold;
  color: #ff5722;
}

.checkout {
  font-size: 1.4rem;
  text-align: right;
  color: black;
}
